.App {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.App > * {
   width: 100%;
}

.header {
   height: 4rem;
   background: linear-gradient(to right, #108ebf, #f84482);
   color: white;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   border-bottom: 2px solid white;
}

.header * {
   margin-left: 1rem;
}

.logo {
   height: 3rem;
   width: 3rem;
   background: url(https://www.clipartmax.com/png/full/39-395435_3d-art-logo-design-free-logos-online-logo-design-free-png.png)
      no-repeat;
   background-size: contain;
}

.message-list {
   flex: 1 1 auto;
   background: linear-gradient(to right, #108ebf, #f84482);
   display: flex;
   flex-direction: column-reverse;
   overflow-y: scroll;
   padding: 1.5rem;
}

.input-bar {
   border-top: 2px solid white;
   background: linear-gradient(to right, #108ebf, #f84482);
   padding: 1rem;
   position: relative;
}

.text-input {
   color: white;
   background: black;
   height: 3rem;
   width: 100%;
   border-radius: 2rem;
   border: 2px solid white;
   padding: 0rem 5rem 0rem 1rem;
   font-size: 1rem;
}

.submit {
   background-color: white;
   position: absolute;
   height: 3rem;
   width: 3rem;
   right: 1rem;
   border-radius: 2rem;
   border: none;
   font-size: 2rem;
}
